*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  height: 100px;
  width: 100%;
  background-color: burlywood;
  /* margin: top right bottom left */
  /* margin: 5% 1% 13% 7%; */
  /* margin: 1%; */
  padding: 4%;
  color: darkgoldenrod;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.con2{
  height: 100px;
  width: 100%;
  background-color: blue;


}
a{
  color: darkred;
}
.main{
  display: flex;
  /* column center */
  align-items: center;
  /* row center */
  justify-content: center;
 flex-wrap: wrap;
flex-direction: column; 
}